[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=ru.template.FirstProject
Exec=/usr/bin/ru.template.FirstProject
Name=Template
Name[ru]=Шаблон

[X-Application]
Permissions=
OrganizationName=ru.template
ApplicationName=FirstProject
ExecDBus=/usr/bin/ru.template.FirstProject
